@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-stroke-1 {
    -webkit-text-stroke: 1px #4b371f;
  }
  .text-stroke-2 {
    -webkit-text-stroke: 2px #4b371f;
  }

  .text-stroke-1-E1FF0A {
    -webkit-text-stroke: 1px #E1FF0A;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Cherry Bomb";
  src: url("/fonts/CherryBombOne-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@layer utilities {
  @keyframes drive {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(80%);
    }
  }
  .animate-drive {
    animation: drive 5s linear infinite;
  }
}
